body {
    background-color: black;
    text-align: center;
    color:white;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size:50px;
    
    
}

a{
    color:aquamarine;
    font-size:16px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size:42px
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    font-size: 21px;
}

.foo{
    text-align: right;
}